In [93]:

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
## import seaborn
import seaborn as sns
import pandas as pd
import warnings
import plotly.express as px
import warnings
warnings.filterwarnings("ignore")

In [116]:
data=pd.read_csv("final_tripdata_new (1).csv",encoding="latin-1")#ISO-8859-1
data

,Unnamed: 0,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,day_week_start,duration,distance
0,4993971,E7CC3B9C2497863F,docked_bike,2020-08-13 13:17:28,2020-08-13 13:55:29,Wells St & Evergreen Ave,291,Paulina St & 18th St,205,41.906724,-87.634830,41.857901,-87.668745,member,5.0,3801.0,59446.72
1,2539858,75F3F6997F82F01C,docked_bike,2020-10-09 12:26:49,2020-10-09 12:47:34,Streeter Dr & Grand Ave,35,Streeter Dr & Grand Ave,35,41.892278,-87.612043,41.892278,-87.612043,casual,6.0,2085.0,0.00
2,1084867,325DAA770EDE57ED,electric_bike,2020-11-06 17:35:06,2020-11-06 17:46:46,Sedgwick St & North Ave,118,Damen Ave & Pierce Ave,69,41.911304,-87.638627,41.909463,-87.677480,casual,6.0,1140.0,38895.91
3,5202426,F17EA7F23A221021,electric_bike,2021-06-15 00:28:30,2021-06-15 01:00:47,Desplaines St & Randolph St,15535,Kedzie Ave & Bryn Mawr Ave,KA1504000167,41.884528,-87.644460,41.982302,-87.708913,member,3.0,7217.0,117106.31
4,2241145,68163A1203766B61,classic_bike,2021-05-30 13:36:56,2021-05-30 13:43:25,Woodlawn Ave & 55th St,TA1307000164,Blackstone Ave & Hyde Park Blvd,13398,41.795264,-87.596471,41.802562,-87.590368,member,1.0,669.0,9513.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,3608870,A793AD6E0E1F80BE,docked_bike,2020-10-05 13:58:43,2020-10-05 14:23:39,Lincoln Ave & Belmont Ave,131,Dearborn Pkwy & Delaware Pl,140,41.939365,-87.668385,41.898969,-87.629912,casual,2.0,6496.0,55785.38
9996,4653300,D7F40C4AD674B7A6,classic_bike,2021-05-28 11:48:33,2021-05-28 11:52:48,Clifton Ave & Armitage Ave,TA1307000163,Sheffield Ave & Fullerton Ave,TA1306000016,41.918216,-87.656936,41.925602,-87.653708,member,6.0,415.0,8060.38
9997,963750,2CB92E8592E117F7,docked_bike,2021-06-20 14:45:56,2021-06-20 15:33:11,Shedd Aquarium,15544,Fort Dearborn Dr & 31st St,TA1307000048,41.867226,-87.615355,41.838556,-87.608218,casual,1.0,8755.0,29544.98
9998,91974,0445393F376408CE,docked_bike,2021-05-23 12:58:52,2021-05-23 14:11:51,Broadway & Thorndale Ave,15575,Marine Dr & Ainslie St,KA1504000171,41.989743,-87.660141,41.971600,-87.650154,casual,1.0,15299.0,20710.11
9999,4405949,CC7844CD89E52FAC,docked_bike,2021-06-11 14:03:02,2021-06-11 14:45:58,Streeter Dr & Grand Ave,13022,Michigan Ave & Oak St,13042,41.892278,-87.612043,41.900960,-87.623777,casual,6.0,4256.0,14596.71

In [117]:
data.head()

,Unnamed: 0,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,day_week_start,duration,distance
0,4993971,E7CC3B9C2497863F,docked_bike,2020-08-13 13:17:28,2020-08-13 13:55:29,Wells St & Evergreen Ave,291,Paulina St & 18th St,205,41.906724,-87.634830,41.857901,-87.668745,member,5.0,3801.0,59446.72
1,2539858,75F3F6997F82F01C,docked_bike,2020-10-09 12:26:49,2020-10-09 12:47:34,Streeter Dr & Grand Ave,35,Streeter Dr & Grand Ave,35,41.892278,-87.612043,41.892278,-87.612043,casual,6.0,2085.0,0.00
2,1084867,325DAA770EDE57ED,electric_bike,2020-11-06 17:35:06,2020-11-06 17:46:46,Sedgwick St & North Ave,118,Damen Ave & Pierce Ave,69,41.911304,-87.638627,41.909463,-87.677480,casual,6.0,1140.0,38895.91
3,5202426,F17EA7F23A221021,electric_bike,2021-06-15 00:28:30,2021-06-15 01:00:47,Desplaines St & Randolph St,15535,Kedzie Ave & Bryn Mawr Ave,KA1504000167,41.884528,-87.644460,41.982302,-87.708913,member,3.0,7217.0,117106.31
4,2241145,68163A1203766B61,classic_bike,2021-05-30 13:36:56,2021-05-30 13:43:25,Woodlawn Ave & 55th St,TA1307000164,Blackstone Ave & Hyde Park Blvd,13398,41.795264,-87.596471,41.802562,-87.590368,member,1.0,669.0,9513.54

In [118]:
data.sample(25)

,Unnamed: 0,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,day_week_start,duration,distance
1234,4994878,E7D755BA515880F4,docked_bike,2020-07-18 08:38:10,2020-07-18 09:05:27,Clark St & Armitage Ave,94,Clark St & Armitage Ave,94,41.918306,-87.636282,41.918306,-87.636282,member,7.0,6717.0,0.00
8736,4062794,BC91D85E2E493EED,electric_bike,2020-10-11 11:32:31,2020-10-11 11:40:31,Seeley Ave & Roscoe St,308,Western Ave & Leland Ave,239,41.943463,-87.679648,41.966549,-87.688332,member,1.0,800.0,24665.31
96,5458860,FD610AEDA0A8D63D,docked_bike,2020-10-06 16:46:27,2020-10-06 16:50:43,Millennium Park,90,Lake Shore Dr & Monroe St,76,41.881031,-87.624084,41.880958,-87.616743,member,3.0,416.0,7341.36
3806,1401647,411AAB9F06822C70,electric_bike,2021-06-16 12:33:16,2021-06-16 12:40:29,Clark St & Randolph St,TA1305000030,Dearborn St & Erie St,13045,41.885327,-87.632701,41.893852,-87.629426,member,4.0,713.0,9132.00
627,904155,29F88F73B74192C5,electric_bike,2021-05-14 14:32:52,2021-05-14 15:24:18,LaSalle St & Adams St,KA1503000034,NaN,NaN,41.879498,-87.632102,41.880000,-87.620000,casual,6.0,9166.0,12112.74
3584,2875619,8581B038EF1C3C39,classic_bike,2021-06-08 19:39:30,2021-06-08 20:14:51,Dearborn St & Erie St,13045,Clark St & Newport St,632,41.893992,-87.629318,41.944540,-87.654678,casual,3.0,7521.0,56552.89
9424,1964012,5B3BC739015D5A5B,classic_bike,2021-03-22 14:38:41,2021-03-22 14:45:25,Clinton St & Washington Blvd,WL-012,Kingsbury St & Erie St,13265,41.883380,-87.641170,41.893808,-87.641697,member,2.0,684.0,10441.32
7379,3262104,977891FE90E6C4FD,classic_bike,2021-06-29 15:37:55,2021-06-29 15:50:07,Sedgwick St & Huron St,TA1307000062,Dearborn St & Adams St,TA1305000005,41.894666,-87.638437,41.879356,-87.629791,member,3.0,1252.0,17582.37
6835,4492141,D073954FEF2D3B5C,docked_bike,2020-07-24 13:40:25,2020-07-24 13:47:04,Stockton Dr & Wrightwood Ave,324,Broadway & Barry Ave,300,41.931320,-87.638742,41.937582,-87.644098,member,6.0,679.0,8240.21
3142,1692143,4E97886414C393B3,docked_bike,2020-10-31 17:47:49,2020-10-31 17:52:00,Wells St & Evergreen Ave,291,Larrabee St & North Ave,27,41.906724,-87.634830,41.910210,-87.643500,member,7.0,451.0,9344.58
4658,1227527,390250E56725DCC1,electric_bike,2021-05-25 13:23:26,2021-05-25 13:39:08,Michigan Ave & Washington St,13001,Ashland Ave & Grand Ave,13434,41.884323,-87.623390,41.891090,-87.666522,casual,3.0,1582.0,43659.16
3424,5190000,F0EA5A39E06F675B,electric_bike,2020-11-07 14:30:31,2020-11-07 15:20:31,Lake Shore Dr & Monroe St,76,Michigan Ave & Lake St,52,41.881208,-87.616753,41.885681,-87.624488,casual,7.0,9000.0,8935.21
4357,1992085,5C8A9216BFF57E5A,docked_bike,2020-07-10 16:26:34,2020-07-10 16:47:38,Damen Ave & Pierce Ave,69,Kingsbury St & Erie St,74,41.909396,-87.677691,41.893808,-87.641697,casual,6.0,2104.0,39224.19
3740,2428053,70C2664033D94328,docked_bike,2020-07-21 18:15:22,2020-07-21 18:39:59,Wabash Ave & Roosevelt Rd,59,Western Ave & 21st St,203,41.867227,-87.625961,41.854109,-87.685838,member,3.0,2437.0,61297.12
2367,2104156,61BC08079181154B,classic_bike,2021-04-15 20:44:25,2021-04-15 20:49:16,Wilton Ave & Diversey Pkwy,TA1306000014,Racine Ave & Fullerton Ave,TA1306000026,41.932418,-87.652705,41.925562,-87.658404,member,5.0,491.0,8915.12
1165,2903696,86D09770B1243B89,docked_bike,2020-01-07 18:12:02,2020-01-07 18:19:38,Wabash Ave & Wacker Pl,194,State St & Pearson St,106,41.886900,-87.626000,41.897400,-87.628700,member,3.0,736.0,10841.59
1762,4905243,E3AC2A1F1812DC47,classic_bike,2021-05-21 20:57:41,2021-05-21 21:01:25,Streeter Dr & Grand Ave,13022,Fairbanks Ct & Grand Ave,TA1305000003,41.892278,-87.612043,41.891847,-87.620580,member,6.0,4384.0,8548.05
1450,2952660,8914EACE187D17DA,docked_bike,2020-07-22 13:54:23,2020-07-22 14:27:31,Chicago Ave & Washington St,597,Lakefront Trail & Bryn Mawr Ave,459,42.032562,-87.679101,41.984037,-87.652310,member,4.0,7308.0,55429.66
9117,1724546,501CC45FCCEC9D32,docked_bike,2020-06-08 18:50:44,2020-06-08 19:16:13,Clark St & Armitage Ave,94,Michigan Ave & Lake St,52,41.918306,-87.636282,41.886024,-87.624117,casual,2.0,6569.0,34498.04
9758,5113322,ED580312C9A99116,electric_bike,2020-09-30 08:05:30,2020-09-30 08:13:21,LaSalle Dr & Huron St,627,Dearborn St & Adams St,37,41.894373,-87.632135,41.881457,-87.629582,member,4.0,791.0,13165.70
6652,3115018,90A4AF855FC64B1E,docked_bike,2020-07-23 11:50:33,2020-07-23 12:00:31,Lincoln Park Conservatory,673,Lake Shore Dr & Wellington Ave,157,41.923931,-87.635824,41.936688,-87.636829,casual,5.0,4998.0,12796.93
5243,4982574,E7448564470332B4,docked_bike,2021-04-07 19:13:35,2021-04-07 19:38:59,Shore Dr & 55th St,TA1308000009,Shore Dr & 55th St,TA1308000009,41.795212,-87.580715,41.795212,-87.580715,casual,4.0,2524.0,0.00
6273,2467402,7294740598E51F5E,docked_bike,2020-05-22 20:26:40,2020-05-22 20:56:21,Dearborn St & Erie St,110,Broadway & Waveland Ave,304,41.894000,-87.629300,41.949100,-87.648600,member,6.0,2981.0,58382.36
2874,3703929,ABFB26955DF0DCEE,docked_bike,2020-08-30 14:12:40,2020-08-30 14:23:11,Broadway & Belmont Ave,296,Clark St & Grace St,165,41.940106,-87.645451,41.950780,-87.659172,casual,1.0,1071.0,17383.90
3272,462354,157C06C1F3515D25,electric_bike,2020-10-02 12:09:50,2020-10-02 12:15:13,Clark St & Lincoln Ave,141,Orleans St & Chestnut St (NEXT Apts),620,41.915830,-87.634698,41.898281,-87.637385,member,6.0,563.0,17753.54

In [119]:
data.shape

(10000, 17)

In [120]:
data.columns

Index(['Unnamed: 0', 'ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual', 'day_week_start', 'duration', 'distance'],
      dtype='object')

In [121]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          10000 non-null  int64
 1   ride_id             10000 non-null  object
 2   rideable_type       10000 non-null  object
 3   started_at          10000 non-null  object
 4   ended_at            10000 non-null  object
 5   start_station_name  9503 non-null   object
 6   start_station_id    9501 non-null   object
 7   end_station_name    9452 non-null   object
 8   end_station_id      9450 non-null   object
 9   start_lat           10000 non-null  float64
 10  start_lng           10000 non-null  float64
 11  end_lat             10000 non-null  float64
 12  end_lng             10000 non-null  float64
 13  member_casual       10000 non-null  object
 14  day_week_start      10000 non-null  float64
 15  duration            10000 non-null  float64
 16  distance            10000 non-null  float64
dtypes: float64(7), int64(1), object(9)
memory usage: 1.3+ MB

In [122]:
data.dtypes

Unnamed: 0              int64
ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
day_week_start        float64
duration              float64
distance              float64
dtype: object

In [123]:
data.describe()

,Unnamed: 0,start_lat,start_lng,end_lat,end_lng,day_week_start,duration,distance
count,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000
mean,2.770343e+06,41.903235,-87.644840,41.866114,-87.566410,4.125600,2.099192e+04,22330.345218
std,1.593198e+06,0.043200,0.025615,1.257363,2.628435,2.082032,1.508842e+06,19705.707874
min,1.268000e+03,41.648501,-87.780000,0.000000,-87.774519,1.000000,-9.003341e+07,-1.000000
25%,1.398568e+06,41.882091,-87.658813,41.882200,-87.659172,2.000000,7.880000e+02,9080.385000
50%,2.780976e+06,41.898969,-87.641417,41.900000,-87.642705,4.000000,1.593000e+03,17241.465000
75%,4.158111e+06,41.929143,-87.627754,41.929567,-87.627844,6.000000,5.307000e+03,30261.822500
max,5.515072e+06,42.070000,-87.530000,42.070000,0.000000,7.000000,6.985961e+07,205600.920000

In [124]:
data.drop("Unnamed: 0",inplace=True,axis=1)

In [125]:
data.shape

(10000, 16)

In [127]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             10000 non-null  object
 1   rideable_type       10000 non-null  object
 2   started_at          10000 non-null  object
 3   ended_at            10000 non-null  object
 4   start_station_name  9503 non-null   object
 5   start_station_id    9501 non-null   object
 6   end_station_name    9452 non-null   object
 7   end_station_id      9450 non-null   object
 8   start_lat           10000 non-null  float64
 9   start_lng           10000 non-null  float64
 10  end_lat             10000 non-null  float64
 11  end_lng             10000 non-null  float64
 12  member_casual       10000 non-null  object
 13  day_week_start      10000 non-null  float64
 14  duration            10000 non-null  float64
 15  distance            10000 non-null  float64
dtypes: float64(7), object(9)
memory usage: 1.2+ MB

In [128]:
data[data['duration']<=0]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,day_week_start,duration,distance
63,1EEA975F1E95F972,docked_bike,2020-07-14 18:19:28,2020-07-14 18:19:21,Larrabee St & Webster Ave,144,Lake Shore Dr & Diversey Pkwy,329,41.921822,-87.644140,41.932588,-87.636427,casual,3.0,-7.0,13243.76
470,9C432172669C65D3,docked_bike,2020-08-11 17:31:05,2020-08-11 17:31:00,Lake Shore Dr & North Blvd,268,Dearborn St & Erie St,110,41.911722,-87.626804,41.893992,-87.629318,member,3.0,-5.0,17907.35
1041,194A62C72BFFC1CC,docked_bike,2020-07-12 19:38:53,2020-07-12 19:38:53,Kosciuszko Park,499,St. Louis Ave & Balmoral Ave,469,41.930585,-87.723777,41.980394,-87.716115,casual,1.0,0.0,50395.07
1413,8ADAD8E503067DF4,docked_bike,2020-09-11 11:04:59,2020-09-11 11:04:45,Clarendon Ave & Junior Ter,245,Clarendon Ave & Gordon Ter,312,41.961004,-87.649603,41.957879,-87.649519,member,6.0,-14.0,3126.13
1816,F76C6D689F531760,docked_bike,2020-09-19 17:50:33,2020-09-19 17:50:28,Burnham Harbor,4,Ellis Ave & 60th St,426,41.856268,-87.613348,41.785097,-87.601073,member,7.0,-5.0,72221.73
1976,13E5F677800F8151,docked_bike,2020-11-04 16:46:50,2020-11-04 16:46:46,Lakefront Trail & Wilson Ave,639,Michigan Ave & Madison St,197,41.965845,-87.645361,41.882134,-87.625125,member,4.0,-4.0,86122.16
2217,22F590BA5AD3507D,docked_bike,2020-10-11 18:19:10,2020-10-11 18:18:51,Kilbourn Ave & Irving Park Rd,590,Kilbourn Ave & Irving Park Rd,590,41.953733,-87.740569,41.953733,-87.740569,casual,1.0,-59.0,0.00
2673,CE56B8ECFE72DA73,docked_bike,2020-11-08 12:39:15,2020-11-08 12:39:07,Streeter Dr & Grand Ave,35,Burnham Harbor,4,41.892278,-87.612043,41.856268,-87.613348,member,1.0,-8.0,36033.64
4398,D483FF80E38325F3,docked_bike,2020-09-07 16:56:31,2020-09-07 16:56:28,Montrose Harbor,249,Lakefront Trail & Bryn Mawr Ave,459,41.963982,-87.638181,41.984037,-87.652310,casual,2.0,-3.0,24532.20
5374,DF8F15B26070E691,docked_bike,2020-08-21 17:31:38,2020-08-21 17:30:49,Michigan Ave & Jackson Blvd,284,Indiana Ave & Roosevelt Rd,255,41.877850,-87.624080,41.867888,-87.623041,casual,6.0,-89.0,10016.04
7500,3F6EE6FD95FAE8A6,docked_bike,2020-07-05 17:02:23,2020-07-05 17:02:18,Clark St & Elm St,176,Orleans St & Chestnut St (NEXT Apts),620,41.902973,-87.631280,41.898203,-87.637536,member,1.0,-5.0,7867.05
7828,BF44E3263CBA82D4,electric_bike,2020-10-16 16:44:56,2020-10-16 15:43:14,Theater on the Lake,177,Kedzie Ave & Milwaukee Ave,260,41.926263,-87.631014,41.929589,-87.707904,casual,6.0,-10142.0,76962.07
8059,839603DADE7B3F6E,docked_bike,2020-10-13 09:31:00,2020-10-13 09:30:28,McCormick Place,62,Michigan Ave & Jackson Blvd,284,41.851375,-87.618834,41.877850,-87.624080,member,3.0,-72.0,26989.74
8254,A9C677AB30627686,docked_bike,2020-04-15 19:15:44,2020-04-15 19:15:15,Halsted St & Clybourn Ave,331,Wells St & Huron St,53,41.909700,-87.648100,41.894700,-87.634400,member,4.0,-29.0,20314.77
8654,C48BFF0636970A81,docked_bike,2020-09-02 06:53:43,2020-09-02 06:53:35,Marine Dr & Ainslie St,465,Clarendon Ave & Leland Ave,251,41.971600,-87.650154,41.967968,-87.650001,member,4.0,-8.0,3635.22
8825,F888BD670EBAB0C7,docked_bike,2020-07-20 23:17:49,2020-07-20 23:02:04,900 W Harrison St,109,Morgan St & 31st St,280,41.874754,-87.649807,41.837800,-87.651140,casual,2.0,-1545.0,36978.03
9020,C16F8C0AE21F249A,docked_bike,2020-09-20 17:22:12,2020-09-20 17:22:07,Pine Grove Ave & Waveland Ave,232,Clarendon Ave & Leland Ave,251,41.949472,-87.646452,41.967968,-87.650001,casual,1.0,-5.0,18833.41
9179,B56DDC7714B412E6,docked_bike,2020-09-26 13:51:42,2020-09-26 13:51:23,Damen Ave & Leland Ave,242,Damen Ave & Leland Ave,242,41.967094,-87.679028,41.967094,-87.679028,casual,7.0,-19.0,0.00
9236,4694A240BC342BFA,docked_bike,2020-07-21 08:01:14,2020-07-21 08:01:02,Lake Shore Dr & Wellington Ave,157,Clark St & Wrightwood Ave,340,41.936688,-87.636829,41.929546,-87.643118,member,3.0,-12.0,9516.29
9357,BE1F691E387D7072_12,docked_bike,2020-12-15 11:34:23,2020-11-25 08:00:15,Kingsbury St & Kinzie St,KA1503000043,Canal St & Monroe St,13056,41.889176,-87.638505,41.881690,-87.639530,member,3.0,-90033408.0,7555.85

In [129]:
# droppog the duration column which is having the negative value
data.drop(data.index[data['duration']<=0],inplace=True)

In [130]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9980 entries, 0 to 9999
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             9980 non-null   object
 1   rideable_type       9980 non-null   object
 2   started_at          9980 non-null   object
 3   ended_at            9980 non-null   object
 4   start_station_name  9483 non-null   object
 5   start_station_id    9481 non-null   object
 6   end_station_name    9432 non-null   object
 7   end_station_id      9430 non-null   object
 8   start_lat           9980 non-null   float64
 9   start_lng           9980 non-null   float64
 10  end_lat             9980 non-null   float64
 11  end_lng             9980 non-null   float64
 12  member_casual       9980 non-null   object
 13  day_week_start      9980 non-null   float64
 14  duration            9980 non-null   float64
 15  distance            9980 non-null   float64
dtypes: float64(7), object(9)
memory usage: 1.3+ MB

In [131]:
data[data['duration']<=0]

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual, day_week_start, duration, distance]
Index: []

In [132]:
data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,day_week_start,duration,distance
0,E7CC3B9C2497863F,docked_bike,2020-08-13 13:17:28,2020-08-13 13:55:29,Wells St & Evergreen Ave,291,Paulina St & 18th St,205,41.906724,-87.634830,41.857901,-87.668745,member,5.0,3801.0,59446.72
1,75F3F6997F82F01C,docked_bike,2020-10-09 12:26:49,2020-10-09 12:47:34,Streeter Dr & Grand Ave,35,Streeter Dr & Grand Ave,35,41.892278,-87.612043,41.892278,-87.612043,casual,6.0,2085.0,0.00
2,325DAA770EDE57ED,electric_bike,2020-11-06 17:35:06,2020-11-06 17:46:46,Sedgwick St & North Ave,118,Damen Ave & Pierce Ave,69,41.911304,-87.638627,41.909463,-87.677480,casual,6.0,1140.0,38895.91
3,F17EA7F23A221021,electric_bike,2021-06-15 00:28:30,2021-06-15 01:00:47,Desplaines St & Randolph St,15535,Kedzie Ave & Bryn Mawr Ave,KA1504000167,41.884528,-87.644460,41.982302,-87.708913,member,3.0,7217.0,117106.31
4,68163A1203766B61,classic_bike,2021-05-30 13:36:56,2021-05-30 13:43:25,Woodlawn Ave & 55th St,TA1307000164,Blackstone Ave & Hyde Park Blvd,13398,41.795264,-87.596471,41.802562,-87.590368,member,1.0,669.0,9513.54

In [133]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9980 entries, 0 to 9999
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             9980 non-null   object
 1   rideable_type       9980 non-null   object
 2   started_at          9980 non-null   object
 3   ended_at            9980 non-null   object
 4   start_station_name  9483 non-null   object
 5   start_station_id    9481 non-null   object
 6   end_station_name    9432 non-null   object
 7   end_station_id      9430 non-null   object
 8   start_lat           9980 non-null   float64
 9   start_lng           9980 non-null   float64
 10  end_lat             9980 non-null   float64
 11  end_lng             9980 non-null   float64
 12  member_casual       9980 non-null   object
 13  day_week_start      9980 non-null   float64
 14  duration            9980 non-null   float64
 15  distance            9980 non-null   float64
dtypes: float64(7), object(9)
memory usage: 1.3+ MB

In [134]:
data[data['distance']<0]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,day_week_start,duration,distance
3140,43CF316C525AAFBA,docked_bike,2020-06-20 10:44:52,2020-06-21 11:44:46,Western Ave & 21st St,203,NaN,NaN,41.854109,-87.685838,0.0,0.0,casual,7.0,1009994.0,-1.0
3323,28B3154DDF729877,classic_bike,2021-06-22 06:46:32,2021-06-22 15:05:25,2112 W Peterson Ave,KA1504000155,NaN,NaN,41.991178,-87.683593,0.0,0.0,casual,3.0,85893.0,-1.0
3587,80A0002053113EDA,docked_bike,2020-11-11 17:35:39,2020-11-11 20:41:40,Wood St & Milwaukee Ave,61,NaN,NaN,41.907655,-87.672552,0.0,0.0,member,4.0,30601.0,-1.0
4433,1339B90E5A59FC60,docked_bike,2020-10-08 15:46:32,2020-10-09 14:08:45,Calumet Ave & 51st St,415,NaN,NaN,41.802294,-87.618053,0.0,0.0,casual,5.0,986213.0,-1.0
7826,EA4E81B09C9E6464,docked_bike,2020-08-29 07:50:24,2020-08-29 09:14:03,Halsted St & Roscoe St,299,NaN,NaN,41.943670,-87.648950,0.0,0.0,member,7.0,16379.0,-1.0
8155,990B129251FBD5CB,docked_bike,2020-07-12 15:34:44,2020-07-12 15:57:00,Clark St & Lincoln Ave,141,NaN,NaN,41.915689,-87.634600,0.0,0.0,member,1.0,2256.0,-1.0
8569,388AF4A83E826C22,docked_bike,2020-07-04 10:59:50,2020-07-04 11:32:33,Franklin St & Jackson Blvd,36,NaN,NaN,41.877707,-87.635321,0.0,0.0,casual,7.0,7283.0,-1.0
9659,9956687812E9581F,docked_bike,2020-10-05 16:37:13,2020-10-05 16:47:21,Dusable Harbor,6,NaN,NaN,41.886976,-87.612813,0.0,0.0,member,2.0,1008.0,-1.0
9866,24B4286B25D814A2,docked_bike,2020-08-28 10:53:08,2020-08-28 11:37:12,Wabash Ave & 9th St,321,NaN,NaN,41.870769,-87.625734,0.0,0.0,member,6.0,8404.0,-1.0

In [135]:
# droppog the distance column which is having the negative value
data.drop(data.index[data['distance']<0],inplace=True)

In [136]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9971 entries, 0 to 9999
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             9971 non-null   object
 1   rideable_type       9971 non-null   object
 2   started_at          9971 non-null   object
 3   ended_at            9971 non-null   object
 4   start_station_name  9474 non-null   object
 5   start_station_id    9472 non-null   object
 6   end_station_name    9432 non-null   object
 7   end_station_id      9430 non-null   object
 8   start_lat           9971 non-null   float64
 9   start_lng           9971 non-null   float64
 10  end_lat             9971 non-null   float64
 11  end_lng             9971 non-null   float64
 12  member_casual       9971 non-null   object
 13  day_week_start      9971 non-null   float64
 14  duration            9971 non-null   float64
 15  distance            9971 non-null   float64
dtypes: float64(7), object(9)
memory usage: 1.3+ MB

In [137]:
data[data['distance']<0]

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual, day_week_start, duration, distance]
Index: []

In [138]:
data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,day_week_start,duration,distance
0,E7CC3B9C2497863F,docked_bike,2020-08-13 13:17:28,2020-08-13 13:55:29,Wells St & Evergreen Ave,291,Paulina St & 18th St,205,41.906724,-87.634830,41.857901,-87.668745,member,5.0,3801.0,59446.72
1,75F3F6997F82F01C,docked_bike,2020-10-09 12:26:49,2020-10-09 12:47:34,Streeter Dr & Grand Ave,35,Streeter Dr & Grand Ave,35,41.892278,-87.612043,41.892278,-87.612043,casual,6.0,2085.0,0.00
2,325DAA770EDE57ED,electric_bike,2020-11-06 17:35:06,2020-11-06 17:46:46,Sedgwick St & North Ave,118,Damen Ave & Pierce Ave,69,41.911304,-87.638627,41.909463,-87.677480,casual,6.0,1140.0,38895.91
3,F17EA7F23A221021,electric_bike,2021-06-15 00:28:30,2021-06-15 01:00:47,Desplaines St & Randolph St,15535,Kedzie Ave & Bryn Mawr Ave,KA1504000167,41.884528,-87.644460,41.982302,-87.708913,member,3.0,7217.0,117106.31
4,68163A1203766B61,classic_bike,2021-05-30 13:36:56,2021-05-30 13:43:25,Woodlawn Ave & 55th St,TA1307000164,Blackstone Ave & Hyde Park Blvd,13398,41.795264,-87.596471,41.802562,-87.590368,member,1.0,669.0,9513.54

In [139]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9971 entries, 0 to 9999
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             9971 non-null   object
 1   rideable_type       9971 non-null   object
 2   started_at          9971 non-null   object
 3   ended_at            9971 non-null   object
 4   start_station_name  9474 non-null   object
 5   start_station_id    9472 non-null   object
 6   end_station_name    9432 non-null   object
 7   end_station_id      9430 non-null   object
 8   start_lat           9971 non-null   float64
 9   start_lng           9971 non-null   float64
 10  end_lat             9971 non-null   float64
 11  end_lng             9971 non-null   float64
 12  member_casual       9971 non-null   object
 13  day_week_start      9971 non-null   float64
 14  duration            9971 non-null   float64
 15  distance            9971 non-null   float64
dtypes: float64(7), object(9)
memory usage: 1.3+ MB

In [140]:
data.isnull().sum()

ride_id                 0
rideable_type           0
started_at              0
ended_at                0
start_station_name    497
start_station_id      499
end_station_name      539
end_station_id        541
start_lat               0
start_lng               0
end_lat                 0
end_lng                 0
member_casual           0
day_week_start          0
duration                0
distance                0
dtype: int64

In [141]:
data.isnull().sum().sum()

2076

In [142]:
data=data.dropna()

In [143]:
data.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
day_week_start        0
duration              0
distance              0
dtype: int64

In [144]:
data[data.duplicated()]

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual, day_week_start, duration, distance]
Index: []

In [147]:
data['day_week_start'].replace({1.0:'sunday',2.0:'monday',3.0:'tuesday',4.0:'wednesday',5.0:'thrusday',6.0:'friday',7.0:'saturday',8.0:'sunday'},inplace=True)

In [148]:
data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,day_week_start,duration,distance
0,E7CC3B9C2497863F,docked_bike,2020-08-13 13:17:28,2020-08-13 13:55:29,Wells St & Evergreen Ave,291,Paulina St & 18th St,205,41.906724,-87.634830,41.857901,-87.668745,member,thrusday,3801.0,59446.72
1,75F3F6997F82F01C,docked_bike,2020-10-09 12:26:49,2020-10-09 12:47:34,Streeter Dr & Grand Ave,35,Streeter Dr & Grand Ave,35,41.892278,-87.612043,41.892278,-87.612043,casual,friday,2085.0,0.00
2,325DAA770EDE57ED,electric_bike,2020-11-06 17:35:06,2020-11-06 17:46:46,Sedgwick St & North Ave,118,Damen Ave & Pierce Ave,69,41.911304,-87.638627,41.909463,-87.677480,casual,friday,1140.0,38895.91
3,F17EA7F23A221021,electric_bike,2021-06-15 00:28:30,2021-06-15 01:00:47,Desplaines St & Randolph St,15535,Kedzie Ave & Bryn Mawr Ave,KA1504000167,41.884528,-87.644460,41.982302,-87.708913,member,tuesday,7217.0,117106.31
4,68163A1203766B61,classic_bike,2021-05-30 13:36:56,2021-05-30 13:43:25,Woodlawn Ave & 55th St,TA1307000164,Blackstone Ave & Hyde Park Blvd,13398,41.795264,-87.596471,41.802562,-87.590368,member,sunday,669.0,9513.54

In [151]:
data=data.drop(['start_lat','start_lng','end_lat','end_lng'],axis=1)

In [152]:
data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,day_week_start,duration,distance
0,E7CC3B9C2497863F,docked_bike,2020-08-13 13:17:28,2020-08-13 13:55:29,Wells St & Evergreen Ave,291,Paulina St & 18th St,205,member,thrusday,3801.0,59446.72
1,75F3F6997F82F01C,docked_bike,2020-10-09 12:26:49,2020-10-09 12:47:34,Streeter Dr & Grand Ave,35,Streeter Dr & Grand Ave,35,casual,friday,2085.0,0.00
2,325DAA770EDE57ED,electric_bike,2020-11-06 17:35:06,2020-11-06 17:46:46,Sedgwick St & North Ave,118,Damen Ave & Pierce Ave,69,casual,friday,1140.0,38895.91
3,F17EA7F23A221021,electric_bike,2021-06-15 00:28:30,2021-06-15 01:00:47,Desplaines St & Randolph St,15535,Kedzie Ave & Bryn Mawr Ave,KA1504000167,member,tuesday,7217.0,117106.31
4,68163A1203766B61,classic_bike,2021-05-30 13:36:56,2021-05-30 13:43:25,Woodlawn Ave & 55th St,TA1307000164,Blackstone Ave & Hyde Park Blvd,13398,member,sunday,669.0,9513.54

In [154]:
data_member=data
data_causal=data
data_both=data

# Process

In [155]:
data.describe()

           duration       distance
count  9.208000e+03    9208.000000
mean   3.191490e+04   21994.632308
std    1.261398e+06   19271.945098
min    1.000000e+00       0.000000
25%    7.980000e+02    8892.040000
50%    1.610000e+03   17110.955000
75%    5.330250e+03   29761.717500
max    6.985961e+07  191547.550000

In [157]:
data['member_casual'].value_counts()

member_casual
member    5591
casual    3617
Name: count, dtype: int64

In [158]:
data['distance'].mean()

21994.632307775846

In [159]:
data['distance'].max()

191547.55

In [160]:
data['day_week_start'].mode()

0    saturday
Name: day_week_start, dtype: object

In [161]:
data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,day_week_start,duration,distance
0,E7CC3B9C2497863F,docked_bike,2020-08-13 13:17:28,2020-08-13 13:55:29,Wells St & Evergreen Ave,291,Paulina St & 18th St,205,member,thrusday,3801.0,59446.72
1,75F3F6997F82F01C,docked_bike,2020-10-09 12:26:49,2020-10-09 12:47:34,Streeter Dr & Grand Ave,35,Streeter Dr & Grand Ave,35,casual,friday,2085.0,0.00
2,325DAA770EDE57ED,electric_bike,2020-11-06 17:35:06,2020-11-06 17:46:46,Sedgwick St & North Ave,118,Damen Ave & Pierce Ave,69,casual,friday,1140.0,38895.91
3,F17EA7F23A221021,electric_bike,2021-06-15 00:28:30,2021-06-15 01:00:47,Desplaines St & Randolph St,15535,Kedzie Ave & Bryn Mawr Ave,KA1504000167,member,tuesday,7217.0,117106.31
4,68163A1203766B61,classic_bike,2021-05-30 13:36:56,2021-05-30 13:43:25,Woodlawn Ave & 55th St,TA1307000164,Blackstone Ave & Hyde Park Blvd,13398,member,sunday,669.0,9513.54

In [163]:
data['end_station_name'].value_counts()

end_station_name
Streeter Dr & Grand Ave    123
Millennium Park             89
Clark St & Elm St           81
Broadway & Barry Ave        81
Wells St & Concord Ln       80
                          ...
Millard Ave & 26th St        1
Vernon Ave & 107th St        1
Prospect Sq & 91st St        1
Normal Ave & Archer Ave      1
2112 W Peterson Ave          1
Name: count, Length: 565, dtype: int64

In [164]:
data['start_station_name'].value_counts()

start_station_name
Streeter Dr & Grand Ave       126
Lake Shore Dr & North Blvd     96
Theater on the Lake            92
Clark St & Elm St              86
Lake Shore Dr & Monroe St      78
                             ...
Albany Ave & 26th St            1
Stony Island Ave & 75th St      1
Ellis Ave & 83rd St             1
Hoyne Ave & Balmoral Ave        1
Commercial Ave & 83rd St        1
Name: count, Length: 559, dtype: int64

In [165]:

data['rideable_type'].value_counts()

rideable_type
docked_bike      5558
classic_bike     2363
electric_bike    1287
Name: count, dtype: int64

In [167]:
data.head(4)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,day_week_start,duration,distance
0,E7CC3B9C2497863F,docked_bike,2020-08-13 13:17:28,2020-08-13 13:55:29,Wells St & Evergreen Ave,291,Paulina St & 18th St,205,member,thrusday,3801.0,59446.72
1,75F3F6997F82F01C,docked_bike,2020-10-09 12:26:49,2020-10-09 12:47:34,Streeter Dr & Grand Ave,35,Streeter Dr & Grand Ave,35,casual,friday,2085.0,0.00
2,325DAA770EDE57ED,electric_bike,2020-11-06 17:35:06,2020-11-06 17:46:46,Sedgwick St & North Ave,118,Damen Ave & Pierce Ave,69,casual,friday,1140.0,38895.91
3,F17EA7F23A221021,electric_bike,2021-06-15 00:28:30,2021-06-15 01:00:47,Desplaines St & Randolph St,15535,Kedzie Ave & Bryn Mawr Ave,KA1504000167,member,tuesday,7217.0,117106.31

In [169]:
data['day_week_start'].value_counts()

day_week_start
saturday     1641
sunday       1415
friday       1385
wednesday    1228
tuesday      1214
thrusday     1184
monday       1141
Name: count, dtype: int64

In [170]:
data.head(2)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,day_week_start,duration,distance
0,E7CC3B9C2497863F,docked_bike,2020-08-13 13:17:28,2020-08-13 13:55:29,Wells St & Evergreen Ave,291,Paulina St & 18th St,205,member,thrusday,3801.0,59446.72
1,75F3F6997F82F01C,docked_bike,2020-10-09 12:26:49,2020-10-09 12:47:34,Streeter Dr & Grand Ave,35,Streeter Dr & Grand Ave,35,casual,friday,2085.0,0.00

In [171]:
data_member=data[data['member_casual']=='member']

In [172]:
data_casual=data[data['member_casual']=='member']

In [173]:
data_member['distance'].mean()

22362.791364693257

In [174]:
data_member.describe()

           duration       distance
count  5.591000e+03    5591.000000
mean   2.901588e+04   22362.791365
std    1.319827e+06   18293.998666
min    1.000000e+00       0.000000
25%    6.740000e+02    9516.790000
50%    1.222000e+03   17256.130000
75%    3.154000e+03   29974.260000
max    6.976718e+07  134817.690000

In [175]:
data_casual.describe()

           duration       distance
count  5.591000e+03    5591.000000
mean   2.901588e+04   22362.791365
std    1.319827e+06   18293.998666
min    1.000000e+00       0.000000
25%    6.740000e+02    9516.790000
50%    1.222000e+03   17256.130000
75%    3.154000e+03   29974.260000
max    6.976718e+07  134817.690000

In [176]:
data_member.head(2)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,day_week_start,duration,distance
0,E7CC3B9C2497863F,docked_bike,2020-08-13 13:17:28,2020-08-13 13:55:29,Wells St & Evergreen Ave,291,Paulina St & 18th St,205,member,thrusday,3801.0,59446.72
3,F17EA7F23A221021,electric_bike,2021-06-15 00:28:30,2021-06-15 01:00:47,Desplaines St & Randolph St,15535,Kedzie Ave & Bryn Mawr Ave,KA1504000167,member,tuesday,7217.0,117106.31

In [177]:
data_casual.head(2)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,day_week_start,duration,distance
0,E7CC3B9C2497863F,docked_bike,2020-08-13 13:17:28,2020-08-13 13:55:29,Wells St & Evergreen Ave,291,Paulina St & 18th St,205,member,thrusday,3801.0,59446.72
3,F17EA7F23A221021,electric_bike,2021-06-15 00:28:30,2021-06-15 01:00:47,Desplaines St & Randolph St,15535,Kedzie Ave & Bryn Mawr Ave,KA1504000167,member,tuesday,7217.0,117106.31

In [178]:
data_member['rideable_type'].value_counts()

rideable_type
docked_bike      3293
classic_bike     1570
electric_bike     728
Name: count, dtype: int64

In [179]:
data_casual['rideable_type'].value_counts()

rideable_type
docked_bike      3293
classic_bike     1570
electric_bike     728
Name: count, dtype: int64

In [180]:
data_member['start_station_name'].value_counts()

start_station_name
Clark St & Elm St                65
Lake Shore Dr & North Blvd       51
Desplaines St & Kinzie St        49
Wells St & Huron St              48
Theater on the Lake              48
                                 ..
Dodge Ave & Mulford St            1
Princeton Ave & Garfield Blvd     1
Milwaukee Ave & Cuyler Ave        1
Malcolm X College                 1
Leavitt St & Addison St           1
Name: count, Length: 493, dtype: int64

In [181]:
data_casual['start_station_name'].value_counts()

start_station_name
Clark St & Elm St                65
Lake Shore Dr & North Blvd       51
Desplaines St & Kinzie St        49
Wells St & Huron St              48
Theater on the Lake              48
                                 ..
Dodge Ave & Mulford St            1
Princeton Ave & Garfield Blvd     1
Milwaukee Ave & Cuyler Ave        1
Malcolm X College                 1
Leavitt St & Addison St           1
Name: count, Length: 493, dtype: int64

In [183]:
data_member['end_station_name'].value_counts()

end_station_name
Clark St & Elm St                61
Broadway & Barry Ave             51
Wells St & Concord Ln            48
Wabash Ave & Roosevelt Rd        44
Kingsbury St & Kinzie St         43
                                 ..
Kilbourn Ave & Irving Park Rd     1
Lake Park Ave & 47th St           1
Clark St & Columbia Ave           1
Normal Ave & Archer Ave           1
2112 W Peterson Ave               1
Name: count, Length: 497, dtype: int64

In [182]:
data_casual['end_station_name'].value_counts()

end_station_name
Clark St & Elm St                61
Broadway & Barry Ave             51
Wells St & Concord Ln            48
Wabash Ave & Roosevelt Rd        44
Kingsbury St & Kinzie St         43
                                 ..
Kilbourn Ave & Irving Park Rd     1
Lake Park Ave & 47th St           1
Clark St & Columbia Ave           1
Normal Ave & Archer Ave           1
2112 W Peterson Ave               1
Name: count, Length: 497, dtype: int64

In [184]:

data_member['day_week_start'].value_counts()

day_week_start
tuesday      851
wednesday    841
saturday     811
friday       804
monday       785
thrusday     780
sunday       719
Name: count, dtype: int64

In [185]:
data_casual['day_week_start'].value_counts()

day_week_start
tuesday      851
wednesday    841
saturday     811
friday       804
monday       785
thrusday     780
sunday       719
Name: count, dtype: int64

In [187]:
from datetime import date

In [188]:
data['started_at']=pd.to_datetime(data['started_at']).dt.normalize()

In [189]:
data.head(3)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,day_week_start,duration,distance
0,E7CC3B9C2497863F,docked_bike,2020-08-13,2020-08-13 13:55:29,Wells St & Evergreen Ave,291,Paulina St & 18th St,205,member,thrusday,3801.0,59446.72
1,75F3F6997F82F01C,docked_bike,2020-10-09,2020-10-09 12:47:34,Streeter Dr & Grand Ave,35,Streeter Dr & Grand Ave,35,casual,friday,2085.0,0.00
2,325DAA770EDE57ED,electric_bike,2020-11-06,2020-11-06 17:46:46,Sedgwick St & North Ave,118,Damen Ave & Pierce Ave,69,casual,friday,1140.0,38895.91

In [190]:
by_date=pd.Series(data['started_at']).value_counts().sort_index()
by_date.index=pd.DatetimeIndex(by_date.index)
data_date=by_date.rename_axis('date').reset_index(name='counts')
data_date

          date  counts
0   2020-01-01       2
1   2020-01-02       9
2   2020-01-03       7
3   2020-01-04       1
4   2020-01-05       9
..         ...     ...
524 2021-06-26      29
525 2021-06-27      52
526 2021-06-28      25
527 2021-06-29      31
528 2021-06-30      35

[529 rows x 2 columns]